@import './index.scss';


.paperBackground1{
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 18px;
}






$radialBG: 250;

%papyrusBGC{
  background:
  radial-gradient(hsl($radialBG, 100%, 27%) 4%, hsl($radialBG, 100%, 18%) 9%, hsla($radialBG, 100%, 20%, 0) 9%) 0 0,
  radial-gradient(hsl($radialBG, 100%, 27%) 4%, hsl($radialBG, 100%, 18%) 8%, hsla($radialBG, 100%, 20%, 0) 10%) 50px 50px,
  radial-gradient(hsla($radialBG, 100%, 30%, 0.8) 20%, hsla($radialBG, 100%, 20%, 0)) 50px 0,
  radial-gradient(hsla($radialBG, 100%, 30%, 0.8) 20%, hsla($radialBG, 100%, 20%, 0)) 0 50px,
  radial-gradient(hsla($radialBG, 100%, 20%, 1) 35%, hsla($radialBG, 100%, 20%, 0) 60%) 50px 0,
  radial-gradient(hsla($radialBG, 100%, 20%, 1) 35%, hsla($radialBG, 100%, 20%, 0) 60%) 100px 50px,
  radial-gradient(hsla($radialBG, 100%, 15%, 0.7), hsla($radialBG, 100%, 20%, 0)) 0 0,
  radial-gradient(hsla($radialBG, 100%, 15%, 0.7), hsla($radialBG, 100%, 20%, 0)) 50px 50px,
  linear-gradient(45deg, hsla($radialBG, 100%, 20%, 0) 49%, hsla($radialBG, 100%, 0%, 1) 50%, hsla($radialBG, 100%, 20%, 0) 70%) 0 0,
  linear-gradient(-45deg, hsla($radialBG, 100%, 20%, 0) 49%, hsla($radialBG, 100%, 0%, 1) 50%, hsla($radialBG, 100%, 20%, 0) 70%) 0 0;
  background-color: #300;
  background-size: 100px 100px;
}
.papyrusBG{
  //background-color: $papyrusBGC;
  @extend %papyrusBGC;
  position: relative;
  @include heightWidth(100%, 100%);
  overflow-x:hidden;
}

%papyrus-BeforeAfter{
  content: "";
  position: absolute;
  background-color: hsl($radialBG, 100%, 27%);
  -webkit-clip-path: polygon(0% 0%, 5% 200%, 10% 0%, 15% 100%, 20% 0%, 25% 200%, 30% 0%, 35% 400%, 40% 0%, 45% 100%, 50% 0%, 55% 100%, 60% 0%, 65% 100%, 70% 0%, 75% 100%, 80% 0%, 85% 100%, 90% 0%, 95% 100%, 100% 0%);
}

%papyrus1BeforeAfter {
  @extend %papyrus-BeforeAfter;
  @include heightWidth(3px, $pageHeight);
  top: 309px;
}

%papyrus2BeforeAfter {
  @extend %papyrus-BeforeAfter;
  @include heightWidth(3px, 100%);
}


%papyrus-box-BeforeAfter {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  background-color: hsl($radialBG, 100%, 27%);
  -webkit-clip-path: polygon(0% 0%, 5% 100%, 10% 0%, 15% 100%, 20% 0%, 25% 100%, 30% 0%, 35% 100%, 40% 0%, 45% 100%, 50% 0%, 55% 100%, 60% 0%, 65% 100%, 70% 0%, 75% 100%, 80% 0%, 85% 100%, 90% 0%, 95% 100%, 100% 0%);
}


%papyrus-box-Include {
  height: auto;
  overflow: hidden;
  padding: 20px;

    &:before{
      @extend %papyrus-box-BeforeAfter;
      top: 0;
    }
    &:after{
      @extend %papyrus-box-BeforeAfter;
      bottom: -2px;
    }

}


.papyrus1 {
  font-family: 'Kalam';
  color: #333;
  outline: none;
  background-color: #f8f5de;
  background: linear-gradient(to right, rgba(255,210,0,0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0,0,0,0) 35%, rgba(200, 160, 0, 0.1) 65%), url('paper.jpg') no-repeat;
  box-shadow: inset 0 0 75px rgba(255,210,0,0.3), inset 0 0 20px rgba(255,210,0,0.4), inset 0 0 30px rgba(220,120,0,0.8);


  h5::first-letter, h4::first-letter {
      font-size: 200%;
      opacity: 1;
  }
  h4 {
      margin: 0.5em 0 0.5em 0;
  }
  h1{
    margin-bottom: -7px;
    margin-top: 27px;
    font-size: 82px;
  }
  p{
    font-size: 15px;
  }


  &:before {
    @extend %papyrus1BeforeAfter;
  transform: rotate(270deg);
    left: -50%;
  }
  &:after{
    @extend %papyrus1BeforeAfter;
  transform: rotate(90deg);
    right: -50%;
  }
  .papyrus-box1{
    @extend %papyrus-box-Include;
  }
}

.papyrus2{
  &:before {
    @extend %papyrus2BeforeAfter;
    top: 4px;
    transform: rotate(0deg);
  }
  &:after {
    @extend %papyrus2BeforeAfter;
    top: $pageHeight + 3;
    transform: rotate(180deg);
    }
    .papyrus-box2{
      @extend %papyrus-box-Include;
    }
}












.screenBG{
  background-color:#556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  padding-top: 10px;
  height:200%;
}


$ease-out-quint:cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint:cubic-bezier(0.755, 0.050, 0.855, 0.060);
$screen-background:#121010;


@keyframes flicker{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}

$screenTextColour: #00ff00;
$codeBColour: #222;
.screen-box1{

  h1{
    font-size: 69px;
  }

    font-family: Courier New;
    color: $screenTextColour;
  .button-default {
    color: $screenTextColour;

    	&:hover {
    		color: darken( $screenTextColour, 30% );
    	}
      &:active {
      	color: darken( $screenTextColour, 50% );
      }
	}

  .codeListItem{

  	background-color:$codeBColour;


    &:hover{
  	  background-color:lighten( $codeBColour, 10% );
  	}


  	&:active,
  	&.active{
  	  background-color:lighten( $codeBColour, 20% );
  	}

  }


  background:$screen-background;
  width:800px;
  height:600px;
  position:relative;
  overflow:hidden;
  border:2px solid #666;

  // flicker
  &::after{
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:transparentize($screen-background,0.9);
    opacity:0;
    z-index:2;
    pointer-events:none;
  }
  // scanlines
  &::before{
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:linear-gradient(transparentize($screen-background,1) 50%, transparentize(darken($screen-background,10),0.75) 50%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
    z-index:2;
    background-size:100% 2px, 3px 100%;
    pointer-events:none;
  }
}
#switch:checked~.screen-box1::after{
  animation:flicker 0.15s infinite;
}


@keyframes turn-on{
  0%{
    transform:scale(1,0.8) translate3d(0,0,0);
    -webkit-filter:brightness(30);
    filter:brightness(30);
    opacity:1;
  }
  3.5%{
    transform:scale(1,0.8) translate3d(0,100%,0);
  }

  3.6%{
    transform:scale(1,0.8) translate3d(0,-100%,0);
    opacity:1;
  }

  9%{
    transform:scale(1.3,0.6) translate3d(0,100%,0);
    -webkit-filter:brightness(30);
    filter:brightness(30);
    opacity:0;
  }



  11%{
    transform:scale(1,1) translate3d(0,0,0);
    -webkit-filter:contrast(0) brightness(0) ;
    filter:contrast(0) brightness(0);
    opacity:0;
  }

  100%{
    transform:scale(1,1) translate3d(0,0,0);
    -webkit-filter:contrast(1) brightness(1.2) saturate(1.3);
    filter:contrast(1) brightness(1.2) saturate(1.3);
    opacity:1;
  }
}
@keyframes turn-off{
  0%{
    transform:scale(1,1.3) translate3d(0,0,0);
    -webkit-filter:brightness(1);
    filter:brightness(1);
    opacity:1;
  }
  60%{
    transform:scale(1.3,0.001) translate3d(0,0,0);
    -webkit-filter:brightness(10);
    filter:brightness(10);
  }
  100%{
    animation-timing-function:$ease-in-quint;
    transform:scale(0.000,0.0001) translate3d(0,0,0);
    -webkit-filter:brightness(50);
    filter:brightness(50);
  }
}
.screen1{
  width:100%;
  height:100%;
  border:none;
}
#switch~.screen-box1>.screen1{
  animation: turn-off 0.55s $ease-out-quint;
  animation-fill-mode:forwards;
}
#switch:checked~.screen-box1>.screen1{
  animation: turn-on 4s linear;
  animation-fill-mode:forwards;
}

@keyframes overlay-anim{
  0%{
    visibility:hidden;
  }
  20%{
    visibility:hidden;
  }
  21%{
    visibility:visible;
  }
  100%{
    visibility:hidden;
  }
}
.overlay{
  color:#00F;
  position:absolute;
  top:20px;
  left:20px;
  font-size:60px;
  font-weight: 900;
  z-index: 500;
  //text-shadow:2px 2px black,-2px -2px black, -2px 2px black, 2px -2px black;
  visibility:hidden;
  pointer-events:none;
}
#switch:checked~.screen-box1 .overlay{
  animation:overlay-anim 5s linear;
  animation-fill-mode:forwards;
}

#switch, .switch-label{
  visibility:hidden;
  display:none;
}
